<div class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title fw-bold text-dark" id="modal-title">Confirmar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-secondary fs-6" id="modal-body">
        ¿Está seguro?
      </div>
      <div class="modal-footer border-top-0 bg-light rounded-bottom">
        <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal" id="modal-btn-cancel">Cancelar</button>
        <button type="button" class="btn btn-primary px-4" id="modal-btn-confirm">Confirmar</button>
      </div>
    </div>
  </div>
</div>
